* {
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

body {
    background-image: url(../images/EDIFICIOS.jpg);
    background-size: cover;
}

.Titulo {
    color: rgba(86, 68, 248, 0.925);
    margin-top: -110px;
    position: absolute;
    left: 685px;
    padding: 15px 30px;
    justify-content: center;
    background-color: rgba(250, 255, 254, 0.788);
    display: flex;
}

.Inmuebles {
    width: 100%;
    max-width: 400px;
    padding: 10px 50px;
    background-color: rgba(250, 255, 254, 0.788);
    margin-top: 120px;
    margin-left: 50px;
    border-radius: 20px;
}

.Inmuebles form input {
    transition: 700ms;
    position: relative;
    max-width: 230px;
    width: 100%;
    padding: 10px;
    border: none;
    background: rgba(0, 120, 300, 0.25);
    border-radius: 10px;
}

.Inmuebles form h3 {
    top: 50px;
    font-size: 15px;
    text-align: left;
    color: black;
}

.formulario__inmuebles button {
    position: relative;
    margin-top: 30px;
    padding: 10px 40px;
    border: 2px solid #000000;
    background: transparent;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    transition: all 500ms;
    border-radius: 10px;
}

.formulario__inmuebles button:hover {
    background: rgb(55, 125, 172);
    color: rgb(0, 0, 0);
}